#komunikat[hidden]
{
    display: none;
}
#komunikat,
#tresc,
#przycisk
{
    text-align: center;
    display: block;
    margin: auto;
}
#plansza
{
    position: relative;
    border-collapse: collapse;
    margin: auto;
    margin-top: 100px;
}
#plansza:not([ruch])::before
{
    padding-top: 40%;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
    text-align: center;
    content: "Gra zawieszkona";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
th
{
    border: 1px solid black;
    font-size: 30px;
    width: 80px;
    height: 80px;
}
th:not([pole]):hover
{
    background-color: #0f0;
    cursor: pointer;
}
th[pole]:hover
{
    background-color: #f00;
    cursor: not-allowed;
}
#plansza[ruch=x] th:not([pole]):hover::before,
th[pole=x]::before
{
    content: "X";
}
#plansza[ruch=o] th:not([pole]):hover::before,
th[pole=o]::before
{
    content: "o";
}